.form-principale-container {
  text-align: center;
  padding: 2rem;
  background-color: transparent;
  color: bisque;
  font-size: 3rem;
}

select {
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
